<div class = "container">
    <div class = "row">
        {{#each data}}
            <div class="card mx-1 my-2" style="width: 16rem;">
                <img class="card-img-top" src="{{this.pic}}" alt="">
                <div class="card-body">
                    <a href="{{this.wwwDoc}}">
                        <p class = "card-text newsbyte_date">{{this.date}}</p>
                        <p class = "card-text h4 newsbyte_artname">{{this.artname}}</p>
                        <p class = "card-text newsbyte_blurp">{{this.blurp}}</p>
                    </a>
                </div >
                <button class = "btn btn-primary btn-sm offset-3 mb-3 scrapeNewsbytes"
                        style = "width:50%;" type="submit">SCRAPE for NEWSBYTES
                </button>
            </div>
        {{/each}}
    </div>
</div>